<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="ipaddress.Properties.Settings.MomburbiaConnectionString"
   connectionString="Data Source=prashant;Initial Catalog=Momburbia;Persist Security Info=True;User ID=sa;Password=jaihind7"
   providerName="System.Data.SqlClient" />
  <add name="DALMomburbia.Properties.Settings.MomburbiaConnectionString"
   connectionString="Data Source=prashant;Initial Catalog=Momburbia;Persist Security Info=True;User ID=sa;Password=jaihind7"
   providerName="System.Data.SqlClient" />
  <add name="DALMomburbia.Properties.Settings.MomburbiaConnectionString1"
   connectionString="Data Source=INSPIRON;Initial Catalog=Momburbia;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>