<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="ipaddress.Properties.Settings.MomburbiaConnectionString"
   connectionString="Data Source=yogesh;Initial Catalog=Momburbia_JANA;Persist Security Info=True;User ID=sa;Password=cricket"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>